body{
    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    
    
    height:100vh;
    background-size: cover;
    width: 100vw;
    height:100vh;
    color:white;
    font-family:Roboto;
    text-align: center;
}

button{
    color: white;
    background-color: orange;
    text-align: center;
    left:80%;
    border-width:2px;
}
.buttons{
    text-align: center;
}